# app config
APP_DOMAIN=admin
APP_USERNAME=admin
APP_EMAIL=example@example.com
APP_PASSWORD=admin
APP_WORKSPACE_NAME=Main

# server config
SERVER_PORT=":4512"
SERVER_URL=http://0.0.0.0$SERVER_PORT
SERVER_ALLOWED_ORIGINS=http://localhost:5500

# log config
LOG_LEVEL=info
LOG_FORMAT=pretty

# database config
DATABASE_USER=mariadb
DATABASE_PASSWORD=mariadb
DATABASE_NAME=qorvin
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_MAX_OPEN_CONN=5
DATABASE_MAX_IDLE_CONN=2
